* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  main {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: 100%;
    max-width: 700px;
  }
}

@view-transition {
  navigation: auto;
}
