---
const { href, title, desc } = Astro.props;
---
<a href={href}>
  <article class="blog-card">
      <h2>{title}</h2>
      <p>{desc}</p>
  </article>
</a>

<style>
  a {
    text-decoration: none;
    color: black;
  }
  article {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: solid 1px lightgrey;
    border-radius: 0.1rem;
    padding: 1.5rem;
    width: 100%;
  }
</style>
