<div id="container">
  <hr>
  <footer>
    <p>&copy; 2025 Sebastian Diaz</p>
  </footer>
</div>

<style>
  #container {
    width: 100%;
  }
  hr {
    height: 1px;
    max-width: 700px;
    margin: 0 auto;
    border: none;

    background: linear-gradient(
      to right,
      rgba(0,0,0,0),
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.8),
      rgba(0,0,0,0.5),
      rgba(0,0,0,0)
      );
  }
  footer {
    display: flex;
    justify-content: center;
    padding: 1.5rem;
  }
</style>
